.cover__link {
  min-height: 740px;
  text-decoration: none;
  color: #FFFFFF;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

@media screen and (max-width: 1024px) {
  .cover__link {
    max-width: 1024px;
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__link {
    max-width: 768px;
    min-height: 480px;
  }
}

@media screen and (max-width: 390px) {
  .cover__link {
    max-width: 100%;
    min-height: 200px;
  }
}