.header {
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 28px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin: 28px 48px auto 48px
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px 24px auto 24px;
    }
}

@media screen and (max-width: 320px) {
    .header {
        max-width: 288px;
        margin: 16px 16px auto 16px;
    }
}