.cover__title {
  line-height: 76px;
  font-size: 72px;
  font-weight: 900;
  max-width: 560px;
  display: block;
  box-sizing: border-box;
  text-align: center;
  font-family: Inter;
}
@media screen and (max-width: 600px) {
  .cover__title {
    font-size: 48px;
    max-width: 400px;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    min-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}