.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr 460px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
    "title website"
    "image text";
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    display: grid;
    grid-template-columns: 440px 1fr;
    grid-template-rows: 1fr 440px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: 
      "title website"
      "image text";
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-template-rows: 1fr 340px;
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: 
      "title website"
      "image text";
  }
}

@media screen and (max-width: 320px) {
  .place {
    max-width: 320px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
    margin-left: auto;
    margin-right: auto;
    grid-template-areas: 
      "title"
      "website"
      "image"
      "text";
  }
}