.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr 460px;
  margin-left: auto;
  margin-right: auto;
  grid-template-areas: 
    "title website"
    "image text";
}
